.CartSummary {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.CartSummary-content {
  margin: 0 20px 0 15px;
  font-weight: bold;
}

.CartSummary-empty {
  margin: 0 20px 0 15px;
  font-weight: bold;
}

.Button-go {
  padding: 3px 12px;
  line-height: 14.95px;
}
