.CartModal {
  position: fixed;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.CartModal-content {
  max-width: 959px;
  margin: 0 32.5px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 70px;
  box-shadow: 0 0 15px 5px #0000003b;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.Button-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.CartModal-footer {
  padding: 21px 120px 21px 0;
  font-weight: 700;
  display: flex;
  justify-content: end;
  font-size: 18px;
  line-height: 20.7px;
}

.CartModal-total-label {
  margin-right: 10px;
  display: inline-block;
}

.CartModal-total-value {
  min-width: 100px;
  text-align: right;
  display: inline-block;
}
