.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 21px 20px 22px;
}

.Item-price,
.Item-quantity {
  min-width: 100px;
  text-align: end;
  padding-top: 21px;
}
