.ModalLayout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.ModalLayout-content {
  max-width: 959px;
  margin: 0 32.5px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 70px;
  box-shadow: 0 0 15px 5px #0000003b;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.Button-close {
  position: absolute;
  top: 32px;
  right: 32px;
}
